




<div class="site-mobile-menu site-navbar-target">
    <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
        </div>
    </div>
    <div class="site-mobile-menu-body"></div>
</div>



<header class="site-navbar site-navbar-target" role="banner">

    <div class="container">
        <div class="row align-items-center position-relative">

            <div class="col-2 ">
                <div class="site-logo">
                    <a href="/home/index/"><img src="https://marketplace.canva.com/EAFauoQSZtY/1/0/1600w/canva-brown-mascot-lion-free-logo-qJptouniZ0A.jpg" width="90px" style="opacity:0.5" alt="Girl in a jacket"></a>
                </div>
            </div>
            

            <div class="col-10  text-right">


                <span class="d-inline-block d-lg-none"><a href="#" class="text-white site-menu-toggle js-menu-toggle py-5 text-white"><span class="icon-menu h3 text-white"></span></a></span>



                <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                    <ul class="site-menu main-menu js-clone-nav ml-auto ">
                        <li><a href="/home/index" class="nav-link">Ana Sayfa</a></li>
                        
                        <li ><a href="/Service/Index/" class="nav-link">Hizmetler</a></li>
                        <li><a href="/Car/CarList/" class="nav-link">Araçlarımız</a></li>
                        <li><a href="/about/About/" class="nav-link">Hakkımızda</a></li>              
                        <li><a href="/contact/index/" class="nav-link">İletişim</a></li>

                   


                        @if (User.Identity.IsAuthenticated)
                        {                          

                            <li>
                            <div class="dropdown">
                                     <button class="btn btn-light dropdown-toggle" type="button" data-toggle="dropdown">
                                   @User.Identity.Name
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">

                                    <li><a href="/login/logOut/" style="text-align:center!important;padding:2px;background-color:none;">Çıkış Yap</a></li>
                               
                                </ul>
                            </div>
                            </li>
                        }
                        else
                        {
                            
                        <li ><a href="/register/index" class="nav-link btn btn-outline-primary" style="width:90px">Üye Ol</a></li>

                        <li><a href="/login/index" class="nav-link btn btn-outline-warning" style="width:90px">Giriş Yap</a></li>
                        }




                    </ul>
                </nav>
            </div>


        </div>
    </div>

</header>