@model Price
@{
    ViewData["Title"] = "UpdatePrice";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Fiyat Güncelleme Ekranı</h1>
<form method="post">
    <input type="hidden" asp-for="PriceID" />

    <input type="hidden" asp-for="CarID" />
    <label class="mb-2">Araba</label>  
    <h3 class="mb-2">@ViewBag.b  @ViewBag.m</h3>
    <br />
    
    <label>Ödeme Planı Giriniz</label>
    <select class="form-select" style="width:150px;" asp-for="PriceType" >
        <option value="Haftalık">Haftalık</option>
        <option value="Günlük">Günlük</option>
        <option value="Aylık">Aylık</option>
    </select>
    <br />
    <label>Fiyat Giriniz</label>
    <input type="text" asp-for="PriceValue" class="form-control" style="border:1px solid #222" />
    <br />
    <br />
 


    <button class="btn btn-outline-success">Ödeme Planını Güncelle</button>
</form>