@model List<MyAcademyCarBook.EntityLayer.Concrete.Brand>

@{
    Layout = "~/Views/AdminLayout/Index.cshtml";
}


    <br /><br/>
    <table class="table table-bordered">
        <tr>
           <th>#</th>
           <th>Marka</th>
           <th>Durum</th>
           <th>Sil</th>
           <th>Güncelle</th>
        </tr>

        @foreach(var item in Model)
        {
            <tr>

                <td>@item.BrandID</td>
                <td>@item.BrandName</td>
                <td>@item.Status</td>
                <td><a href="/Brand/DeleteBrand/@item.BrandID/">Sil</a></td>
            <td><a href="/Brand/UpdateBrand/@item.BrandID/">Güncelle</a></td>
          
            </tr>
        }
       
  
    </table>

    <a href="/brand/addbrand/" class="btn btn-primary"> Yeni Marka Girişi</a>