@model CarDetail
@{
    ViewData["Title"] = "CarDetail";
    Layout = "~/Views/UILayout/Index.cshtml";
}




<div class="site-section">
    <div class="container">

        <h2 class="font-italic">@ViewBag.b <span>@ViewBag.m</span></h2>
        <div class="row">
            <div class="col-md-8 blog-content">
                <p class="lead">@ViewBag.v</p>
               
                <div class="pt-5">
                   

                    @await Component.InvokeAsync("_CarDetailCommentComponentPartial",new {id=ViewBag.i})
                    <!-- END comment-list -->
                    @await Component.InvokeAsync("_CarDetailLeaveACommentComponentPartial",new {id=ViewBag.i})
                </div>

            </div>
            <div class="col-md-4 sidebar">
                <div class="sidebar-box">
                    <form action="#" class="search-form">
                        <div class="form-group">
                            <span class="icon fa fa-search"></span>
                            <input type="text" class="form-control" placeholder="Birşeyler Yaz">
                        </div>
                    </form>
                </div>

                @await Component.InvokeAsync("_CarDetailCategoryComponentPartial")


                @await Component.InvokeAsync("_CarDetailAboutAuthorComponentPartial",new {id=ViewBag.i})
                
              

            </div>
        </div>
    </div>
</div>

