<footer class="site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <h2 class="footer-heading mb-4">Araç Kiralamak İçin Doğru Adres</h2>
                <p>Aradığınız araç bir tık ötenizde şimdi kiralayın avantajlı fiyatlardan yararlanın. </p>
            </div>

             <div class="col-lg-5">
               
            </div>




            <div class="col-lg-4 ml-auto">                               
                        <h2 class="footer-heading mb-4">Hızlı Bağlantılar</h2>
                        <ul class="list-unstyled">
                            <li><a href="#">Hakkımızda</a></li>
                            <li><a href="#">Referanslar</a></li>
                            <li><a href="#">Koşullar ve Şartlar</a></li>
                            <li><a href="#">Privacy</a></li>
                            <li><a href="#">İletişim</a></li>
                        </ul>
                </div>
            </div>
        </div>
</footer>